/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root{
    /*Declaracion de Variable para colores*/
    --color-primario: #F3F5FC;
    --color-secundario: #0A3871;
    --color-teciario: #DDDDDD;
}


body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    height: 100vh;
    box-sizing: border-box;
}

.logo__imagen{
padding: 40px 0px 0px 40px;
}

.presentacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentacion__interactiva{
    display: flex;
    flex-direction: column;
    padding: 80px 0px 0px 240px;
    gap: 537px;
}

.area__texto{
    background-color: var(--color-primario);
    border: 1px solid var(--color-primario);
    font-size: 32px;
    color: var(--color-secundario);
}

.area__texto::placeholder {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    color: var(--color-secundario);
}

.informacion__botones{
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.informacion{
    color: #495057;
}

.botones{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.boton__Encriptar{
    width: 328px;
    background-color: var(--color-secundario);
    padding: 24px;
    color:#FFFFFF;
    border-radius: 24px;
    border: 1px solid var(--color-secundario);
    font-size: 16px;
}

.boton__Desencriptar{
    width: 328px;
    background-color: var(--color-teciario);
    padding: 24px;
    color:#0A3871;
    border-radius: 24px;
    border: 1px solid var(--color-secundario);
    font-size: 16px;
}