/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root{
    /*Declaracion de Variable para colores*/
    --color-primario: #F3F5FC;
    --color-secundario: #0a3871;
    --color-teciario: #dddddd;
    --color-cuaternario: #343A40;
}


body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    height: 100vh;
    box-sizing: border-box;
}

.logo__imagen{
    margin: 2.5rem 0rem 0rem 2.5rem;
}

.presentacion{
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.presentacion__interactiva{
    display: flex;
    flex-direction: column;
    padding: 10.625rem 0rem 0rem 2.25rem;
    gap: 325px;
}

.area__texto{
    width: 47.083vw;
    height: 28.125vh;
    background-color: var(--color-primario);
    border: 1px solid var(--color-primario);
    font-size: 2rem;
    color: var(--color-secundario);
    resize: none; 
    outline: none;
}

.area__texto::placeholder {
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    color: var(--color-secundario);
}

.area__texto:focus {
    box-shadow: 0 0 5px var(--color-secundario); 
}

.informacion__botones{
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.informacion{
    color: #495057;
    font-size: 1rem;
}

.botones{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.boton__Encriptar{
    width: 21.77vw;
    background-color: var(--color-secundario);
    padding: 1.5rem;
    color:#FFFFFF;
    border-radius: 24px;
    border: 1px solid var(--color-secundario);
    font-size: 1rem;
}

.boton__Encriptar:hover{
    box-shadow: 6px 6px 6px rgba(10, 56, 113, 0.2);
}

.boton__Desencriptar{
    width: 21.77vw;
    background-color: var(--color-teciario);
    padding: 1.5rem;
    color:#0A3871;
    border-radius: 24px;
    border: 1px solid var(--color-secundario);
    font-size: 1rem;
}

.boton__Desencriptar:hover{
    box-shadow: 6px 6px 6px rgba(10, 56, 113, 0.2);
}

.presentacion__encriptada{
    width: 20.9455vw;
    height: 49.915vh;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 13rem 1rem 13rem 1rem;
    margin: 2rem 5rem 0rem 1.5rem;
    border-radius: 32px;
    box-shadow: 4px 4px 8px rgba(10, 56, 113, 0.2);
}

.imagen__joven{
    display: flex;
}

.informe{
    display: flex;
    padding-top: 2rem;
    text-align: center;
    font-family: "Inter", sans-serif;
    color: var(--color-cuaternario);
    font-size: 1.5rem;
    font-weight: bold;
}

.instruccion{
    display: flex;
    padding-top: 1rem;
    text-align: center;
    font-family: "Inter", sans-serif;
    color: var(--color-cuaterniario);
    font-size: 1rem;
    font-weight:500;
}

#mensaje-encriptado{
    word-break: break-all;  
    max-width: 100%; 
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    color: var(--color-secundario);
    text-align: center;
}

.boton__copia{
    position: absolute;
    background-color: #FFFFFF;
    margin-top: 60.5vh;
    width: 20.77vw;
    padding: 1.5rem;
    color:#FFFFFF;
    border-radius: 24px;
    border: 1px solid var(--color-secundario);
    font-size: 1rem;
    color:#0A3871;
    display: none;
}