/*Fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root{
    /*Declaracion de Variable para colores*/
    --color-primario: #F3F5FC;
    --color-secundario: #0a3871;
    --color-teciario: #dddddd;
    --color-cuaternario: #343A40;
}


body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    height: 100vh;
    box-sizing: border-box;
}

.logo__imagen{
    padding: 40px;
}

.presentacion{
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.presentacion__interactiva{
    display: flex;
    flex-direction: column;
    padding: 170px 0px 0px 35px;
    gap: 385px;
}

.area__texto{
    width: 678px;
    height: 288px;
    background-color: var(--color-primario);
    border: 1px solid var(--color-primario);
    font-size: 32px;
    color: var(--color-secundario);
    resize: none; 
}

.area__texto::placeholder {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    color: var(--color-secundario);
}

.informacion__botones{
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.informacion{
    color: #495057;
    font-size: 15px;
}

.botones{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.boton__Encriptar{
    width: 328px;
    background-color: var(--color-secundario);
    padding: 24px;
    color:#FFFFFF;
    border-radius: 24px;
    border: 1px solid var(--color-secundario);
    font-size: 16px;
}

.boton__Desencriptar{
    width: 328px;
    background-color: var(--color-teciario);
    padding: 24px;
    color:#0A3871;
    border-radius: 24px;
    border: 1px solid var(--color-secundario);
    font-size: 16px;
}

.presentacion__encriptada{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    padding: 240px 30px 257px 30px;
    margin: 38px 40px 40px 85px;
    border-radius: 32px;
    box-shadow: 4px 4px 8px rgba(10, 56, 113, 0.2);
}

.imagen__joven{
    display: flex;
    width: 336px;
    height: 304;
}

.informe{
    display: flex;
    padding-top: 32px;
    text-align: center;
    font-family: "Inter", sans-serif;
    color: var(--color-cuaternario);
    font-size: 24px;
    font-weight: bold;
}

.instrucción{
    display: flex;
    padding-top: 16px;
    text-align: center;
    font-family: "Inter", sans-serif;
    color: var(--color-cuaterniario);
    font-size: 16px;
    font-weight:500;
}